@keyframes rightToLeft {
  0%   {transform: translateX(100%);}
  100% {transform: translateX(0%);}
}

// tabs will take the full width of the parent element
.tabs {
  display: flex;
  flex-direction: column;
  width: 100%;

  & * {
    box-sizing: border-box;
  }

  // use flex to display labels on the same line
  .labels-wrapper {
    display: flex;
    flex-wrap: wrap;

    // styles for a single label
    .tab-label {
      background: #f9f9f9;
      border-radius: 0.25em 0.25em 0 0;
      color: #888888;
      font-size: 1em;
      text-align: center;
      line-height: 2em;
      margin-right: 0;
      margin-bottom: 0.25em;
      padding: 0 1.5em;
      user-select: none;
      cursor: pointer;
      flex-basis: 50%;
      white-space: nowrap;

      &:hover {
        background: #dddddd;
        color: #666666;
      }

      // add border right on all odd labels on mobile to have a gap between labels
      &:nth-of-type(odd) {
        border-right: 2px solid white;
      }

      // add border left on all even labels on mobile to have a gap between labels
      &:nth-of-type(even) {
        border-left: 2px solid white;
      }
    }

    // styles for the active tab label
    .active-tab-label {
      background: #f1f1f1;
      color: #444444;
      z-index: 6;

      &:hover {
        background: #f1f1f1;
        color: #444444;
        cursor: initial;
      }
    }
  }

  // styles for the tabs content wrapper
  .tabs-content-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    background-color: #f1f1f1;

    // styles for a single tab content
    .tab-content {
      opacity: 0;
      padding: 1.5em;
      transition: all linear 0.1s;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      display: block;
      overflow: hidden;
      flex-basis: 100%;
    }

    // styles for the active tab content
    .active-tab-content {
      opacity: 1;
      z-index: 100;
      position: relative;
      overflow-x: hidden;
      overflow-y: auto;
      z-index: 1;
      flex-grow: 1;
      animation: rightToLeft 0.5s;
    }
  }
}

@media (min-width: 768px) {
  .tabs {
    .labels-wrapper {
      // change the flex basis of each label to take the correct width not 50%
      .tab-label {
        flex-basis: auto;
        margin-right: 0.25em;
        margin-bottom: 0;

        // remove borders
        &:nth-of-type(odd),
        &:nth-of-type(even) {
          border: none;
        }
      }
    }
  }
}
