@use '../../generic/variables' as vars;

@keyframes rightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes bottomToTop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

//for the fancy scrollbar
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: vars.$scrollbar-color;
  border-radius: 6px;
}

// tabs component
.tabs {
  display: flex;
  flex-direction: column;
  width: 100%;

  & * {
    box-sizing: border-box;
  }

  .labels-wrapper {
    display: flex;
    flex-wrap: wrap;

    .tab-label {
      background: vars.$grey1;
      border-radius: 0.25rem 0.25rem 0 0;
      color: vars.$dark-grey1;
      font-size: 1rem;
      text-align: center;
      line-height: 2rem;
      margin-right: 0;
      margin-bottom: 0.25rem;
      padding: 0 1.5rem;
      user-select: none;
      cursor: pointer;
      flex-basis: 50%;
      white-space: nowrap;

      &:hover {
        background: vars.$grey2;
        color: vars.$dark-grey2;
      }

      &:nth-of-type(odd) {
        border-right: 2px solid vars.$white;
      }

      &:nth-of-type(even) {
        border-left: 2px solid vars.$white;
      }

      @media (min-width: vars.$tablet) {
        flex-basis: auto;
        margin-right: 0.25rem;
        margin-bottom: 0;

        &:nth-of-type(odd),
        &:nth-of-type(even) {
          border: none;
        }
      }
    }

    .active-tab-label {
      background: vars.$grey3;
      color: vars.$dark-grey3;
      z-index: 6;

      &:hover {
        background: vars.$grey3;
        color: vars.$dark-grey3;
        cursor: initial;
      }
    }
  }

  .fancy-labels-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .labels {
      display: flex;
      overflow: auto;
      padding-bottom: 5px;
    }
    .tab-additional-icon {
      padding-bottom: 10px;
      margin-inline-start: 20px;
    }

    .tab-label {
      background: vars.$grey1;
      border-radius: 20px;
      border: 1px solid transparent;
      color: vars.$dark-grey1;
      font-size: 14px;
      text-align: center;
      line-height: 2rem;
      margin-inline-end: 0.25rem;
      margin-bottom: 0.25rem;
      padding: 0 1.5rem;
      user-select: none;
      cursor: pointer;
      white-space: nowrap;

      &:hover {
        background: vars.$grey2;
        color: vars.$dark-grey2;
      }
    }

    .active-tab-label {
      background-color: transparent;
      color: vars.$dark-grey3;
      z-index: 6;
      border: 1px solid vars.$purple;

      &:hover {
        background-color: transparent;
        color: vars.$dark-grey3;
        cursor: initial;
      }
    }
  }

  .tabs-content-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    background-color: vars.$grey3;

    .tab-content {
      opacity: 0;
      padding: 1.5rem;
      transition: all linear 0.1s;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      display: block;
      overflow: hidden;
      flex-basis: 100%;
    }

    .active-tab-content {
      opacity: 1;
      position: relative;
      overflow-x: hidden;
      overflow-y: auto;
      z-index: 1;
      flex-grow: 1;
      animation: rightToLeft 0.5s;
    }
  }

  &.vertical-tabs {
    flex-direction: row;

    .labels,
    .labels-wrapper {
      flex-direction: column;
    }

    .labels-wrapper {
      .tab-label {
        margin: 0 0 4px 0;
        border-radius: 0.25rem 0 0 0.25rem;
        flex-basis: auto;
        border: none;
      }
    }

    .tabs-content-wrapper {
      flex: 1;

      .active-tab-content {
        animation: bottomToTop 0.5s;
      }
    }
  }
}
