//screen sizes
$mobile-large: 512px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;

//colors
$tablet: 768px;
$white: #ffffff;
$scrollbar-color: #d2d9dc;
$grey1: #f9f9f9;
$grey2: #dddddd;
$grey3: #f1f1f1;
$dark-grey1: #888888;
$dark-grey2: #666666;
$dark-grey3: #444444;
$purple: #8e54e9;
